<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <ros2_control name="RobotSystem" type="system">

        <xacro:property name="PI" value="3.14159"/>

        <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="shoulder_pan_joint">
            <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="shoulder_lift_joint">
            <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="elbow_joint">
            <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="wrist_1_joint">
            <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="wrist_2_joint">
            <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="wrist_3_joint">
            <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    
    </ros2_control>

</robot>